#myCarousel {
    margin: auto;
    width: 800px;
}

.carousel-inner{
    height: 750px;
}

.item {
    height: 100%;
    overflow: hidden;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
  }