html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbarLogo {
    height: 50px;
    width: auto;
}

.imagen{
    height: 120px;
    width: 180px;
    background-size: cover;
    background-position: center;
}